target
*.snap

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
build/
coverage/
*.g.dart
*.freezed.dart
*.mocks.dart
pubspec_overrides.yaml

# IntelliJ related
*.iml
*.idea