[Desktop Entry]
Type=Application
Version=1.0
Exec=desktop-security-center %U
Icon=snap.desktop-security-center.Canonical
Terminal=false
Categories=System;Utility;Permissions;Settings;Security;
Keywords=Ubuntu;Permissions;Snaps;Security;
Name=Security Center
Name[en_CA]=Security Center
Name[en_GB]=Security Centre

