[Desktop Entry]
Type=Application
Version=1.0
Exec=desktop-security-center %U
Icon=${SNAP}/meta/gui/desktop-security-center.png
Terminal=false
Categories=System;Utility;Permissions;Settings;Security;
Keywords=Ubuntu;Permissions;Snaps;Security;
Name=Security Center
Name[cs]=Centrum zabezpečení
Name[da]=Sikkerhedscenter
Name[de]=Sicherheitszentrum
Name[en]=Security Center
Name[eo]=Sekureca Centro
Name[es]=Centro de seguridad
Name[et]=Andmeturbekeskus
Name[fa]=مرکز امنیت
Name[fi]=Tietoturvakeskus
Name[fr]=Centre de sécurité
Name[ga]=Ionad Slándála
Name[he]=מרכז אבטחה
Name[hu]=Biztonsági központ
Name[id]=Pusat Keamanan
Name[it]=Centro Sicurezza
Name[ja]=セキュリティセンター
Name[ka]=უსაფრთხოების ცენტრი
Name[ko]=보안 센터
Name[nb]=Sikkeretssenter
Name[nl]=Beveiligingscentrum
Name[oc]=Centre de seguretat
Name[pl]=Centrum zabezpieczeń
Name[pt]=Central de segurança
Name[ru]=Центр безопасности
Name[si]=ආරක්‍ෂණ මධ්‍යස්ථානය
Name[sk]=Centrum zabezpečenia
Name[sr]=Центар за безбедност
Name[sv]=Säkerhetscenter
Name[ta]=பாதுகாப்பு நடுவண்
Name[uk]=Центр безпеки
Name[zh]=安全中心
Name[zh_TW]=安全中心
