name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  go-sanity:
    name: "Build Go"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Go
        run: |
          set -exu
          sudo apt update
          sudo apt install -y protobuf-compiler golang-google-protobuf-dev
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          export GOPATH=$HOME/go
          export PATH=$PATH:$GOPATH/bin
          basedir="$(pwd)/packages"
          cd "$basedir/proto"
          protoc --go_out=. --go_opt=paths=source_relative --go-grpc_out=. --go-grpc_opt=paths=source_relative     ./dsc.proto
          cd "$basedir/backend"
          go build .

  analyze:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: asdf-vm/actions/install@v3
      - uses: bluefireteam/melos-action@v2
      - run: melos analyze

  format:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: asdf-vm/actions/install@v3
      - uses: bluefireteam/melos-action@v2
      - run: melos format

  l10n:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: asdf-vm/actions/install@v3
      - uses: bluefireteam/melos-action@v2
      - run: melos gen-l10n
      - name: Check for outdated l10n
        if: github.event_name == 'pull_request'
        run: ./.github/scripts/check-outdated-files.sh
      - name: Create PR
        if: github.event_name == 'push'
        uses: peter-evans/create-pull-request@v5
        with:
          add-paths: '**/l10n/*.dart'
          title: 'chore: regenerate l10n'
          commit-message: 'chore: regenerate l10n'
          branch: create-pull-request/l10n
          delete-branch: true
